<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="minimal/stylesheets/styles.css">
    <link rel="stylesheet" href="minimal/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      {% capture my-include %}{% include header.md %}{% endcapture %}
      {{ my-include | markdownify }}
      </header>
      <section>
      {% capture my-include %}{{page.content}}{% endcapture %}
      {{ my-include | markdownify }}
      </section>
      <footer>
      {% capture my-include %}{% include footer.md %}{% endcapture %}
      {{ my-include | markdownify }}
      </footer>
    </div>
    <script src="minimal/javascripts/scale.fix.js"></script>
  </body>
</html>
